.hero-section-laptop-container {
  position: relative;
  display: flex;
  height: 260vh;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 220px;
  margin: 0 auto;
  width: 70%;
}

/* Estilize a imagem de background */
.hero-section-laptop-container img:nth-child(1) {
  position: sticky;
  top: 0;
  z-index: 1;
  margin-left: auto; /* Empurra o elemento para a direita */
}

.contain-info {
  display: flex;
  flex-direction: column;
  gap: 190px;
  justify-content: flex-start;
  margin: 0 auto;
}

.contain-info-title {
  font-size: 120px;
}
.contain-info-subtitle {
  font-size: 90px;
}

.contain-info-text {
  font-size: 35px;
  display: flex;
  padding: 20px;
  height: 130px;
  align-items: center;
  justify-content: center;
  background-image: (linear, left bottom, left top, from(#fb0000), to(#8703ee));
  background-image: linear-gradient(0deg, #fb0000, #8703ee);
  border-radius: 15px;
  width: 70%;
  text-align: center;
}

.rocket {
  background: url(../../../public/img/rocket.png) no-repeat;
  background-size: contain;
  width: 140px;
  height: 140px;
  cursor: -webkit-grab;
  will-change: transform;
  user-select: none;
}

.rocket:active {
  cursor: -webkit-grabbing;
}
