.hero-section-laptop-container {
  position: relative;
  display: flex;
  height: 250vh;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 220px;
  margin: 0 auto;
  width: 100%;
  background-image: url(https://awv3node-homepage.surge.sh/build/assets/stars.svg);
  background-size: cover;
  background-color: rgb(17, 36, 48);
}
.hero-top-fade-top {
  position: relative;
  height: 100px;
  top: 50px;
  width: 100%;
  background-color: rgb(17, 36, 48);
  filter: blur(9px);
  z-index: 99;
}
.hero-section-laptop-container img:nth-child(1) {
  position: sticky;
  top: 0;
  z-index: 9;
  margin-left: auto;
}
.contain-info {
  display: flex;
  flex-direction: column;
  gap: 190px;
  justify-content: flex-start;
  margin: 0 auto;
}

.contain-info-title {
  font-size: 120px;
}
.contain-info-subtitle {
  font-size: 90px;
}

.contain-info-text {
  font-size: 35px;
  display: flex;
  padding: 20px;
  height: 130px;
  align-items: center;
  justify-content: center;
  background-image: (linear, left bottom, left top, from(#fb0000), to(#8703ee));
  border-radius: 15px;
  width: 90%;
  text-align: center;
}

.rocket {
  background: url(../../../public/img/rocket.png) no-repeat;
  background-size: contain;
  width: 140px;
  height: 140px;
  cursor: -webkit-grab;
  will-change: transform;
  user-select: none;
}

.rocket:active {
  cursor: -webkit-grabbing;
}

@media screen and (max-width: 880px) {
  .contain-info-title {
    font-size: 4.5em;
    margin-bottom: 0.8em;
  }
  .contain-info-subtitle {
    font-size: 3.5em;
  }
  .contain-info-text {
    font-size: 2.1em;
  }
}
