.navbar {
  display: flex; /* Alterado para grid para permitir especificar as colunas */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 120px;
  padding: 15px 85.333px;
  background-color: #1a1a1a;
  position: fixed;
  z-index: 999;
  padding-top: 25px;
}
.content {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: space-between;
  margin-left: 150px;
  align-items: center;
}
.navbar--items > ul {
  list-style: none;
  display: flex;
  justify-content: center; /* Centraliza horizontalmente os itens */
  gap: 90px;
  text-decoration: none;
}

.navbar--container--img {
  display: flex;
  align-items: flex-start; /* Alinha o container da imagem à margem inicial */
  cursor: pointer;
}
.navbar--img {
  margin-right: 30px;
  font-size: 28px;
  transition: color 350ms ease;
}
.navbar--img:hover {
  color: #ffd660;
}
.navbar--items ul > li > a {
  text-decoration: none;
  color: white;
}
/* Navbar Content */
.navbar--content {
  color: black;
  font-size: 16px;
  font-weight: 600;
  line-height: 1em;
  cursor: pointer;
}
.navbar--active-content {
  color: white;
}

/* Hamburger menu  */

.nav__hamburger {
  display: none;
  width: 1.875rem;
  height: 1.313rem;
  flex-direction: column;
  justify-content: space-around;
  top: 25px;
  right: 25px;
}

.nav__hamburger__line {
  display: block;
  height: 0.188rem;
  width: 100%;
  background-color: white;
  border-radius: 0.625rem;
  transition: all ease-in-out 0.2s;
}

@media screen and (max-width: 1200px) {
  .nav__hamburger {
    display: flex;
    z-index: 999;
  }
  .navbar--items {
    display: flex;
  }
  .navbar--items {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a1a1a;
    top: -40rem;
    left: 0;
    width: 100%;
    transition: all ease-in-out 0.4s;
  }
  .navbar--items ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0 0.6rem;
    z-index: 900;
  }
  .navbar--items ul li {
    text-align: center;
  }
  .navbar--items ul li a {
    padding: 0.5rem;
  }
  .navbar--items {
    z-index: -1000;
  }
  .navbar--items.active {
    top: 30px;
  }
  .nav__hamburger.active :nth-child(1) {
    transform: rotate(45deg) translate(0.45rem, 0.1875rem);
  }

  .nav__hamburger.active :nth-child(2) {
    opacity: 0;
  }

  .nav__hamburger.active :nth-child(3) {
    transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
  }
}
@media screen and (max-width: 880px) {
  .navbar {
    width: 100%;
    padding: 0px;
  }
  .navbar--img {
    padding-top: 10px;
    display: flex;
    font-size: 1.4em;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
/* Responsive Screens Ends*/
