/* Global CSS  */

body {
  margin: 0;
  font-family: "Overpass Variable", sans-serif;
  -webkit-font-smoothing: "Overpass Variable", sans-serif;
  -moz-osx-font-smoothing: "Overpass Variable", sans-serif;
  font-style: normal;
  background: var(--background);
  color: var(--white);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1.1em;
  font-family: "Overpass Variable", sans-serif;
}

:root {
  --background: #1A1A1A;
  --black: #000;
  --white: #ffffff;
  --red: #ec3333;
  --orange: #ff8a00;
  --dark_navbar: #160e33;
}
